html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;
  scroll-behavior: smooth;
    color: white;
    background: #0d0d0d;

}
:root {
  --black: #121212;
  --myblack: #0d0d0d;
  --yellow: #e2ad24;
  --white: #ffffff;
  --mywhite: #131313;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0d0d0d;
  }
} */
.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: 9999;
}

.workLinks {
  list-style: none;
  height: 60px;
}

.inactive {
  color: var(--yellow);
}

.active {
  color: var(--yellow);
  text-decoration: underline;
}

.filterLinks {
  padding: 0px;
  font-size: 24px;
  font-weight: 400;
  filter: drop-shadow(0px 4px #000);
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .filterLinks {
    padding: 0px;
    font-size: 22px;
    font-weight: 400;
    filter: drop-shadow(0px 4px #000);
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .filterLinks {
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    filter: drop-shadow(0px 4px #000);
    cursor: pointer;
  }
  
}